.flex {
  display: flex;

  &.column{
    flex-direction: column;
  }

  &.acenter {
    align-items: center;
  }

  &.justycenter {
    justify-content: center;
  }

  &.container {
    max-width: 114rem;
    margin: 0 auto;
  }

  &.spbetween {
    justify-content: space-between;
  }

  &.sparound {
    justify-content: space-around;
  }

  .f1 {
    flex: 1;
  }
}